@model AProf.Repository.Turma

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Turma</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.DataInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataInicio)
                @Html.ValidationMessageFor(model => model.DataInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataTermino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataTermino)
                @Html.ValidationMessageFor(model => model.DataTermino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoraInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraInicio)
                @Html.ValidationMessageFor(model => model.HoraInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoraTermino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoraTermino)
                @Html.ValidationMessageFor(model => model.HoraTermino)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.curso_id,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.curso_id, new SelectList(ViewBag.cursos, "id", "Nome"))
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.professor_id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.professor_id, new SelectList(ViewBag.professores, "id", "Nome"))
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
